<div class="az-content-body">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <div>
                <img src="../../../assets/img/payment/cash.png" class="mb-4" style="width: 300px; height: 300px;" />
                <h1 class="az-content-title mg-b-5 mg-b-lg-8">
                    Hi, Welcome back to PAY ARENA !!!
                </h1>
                <p class="mg-b-0">Your transactions monitoring dashboard system.</p>
            </div>
        </div>
    </div>


</div>