<div class="az-content az-content-dashboard-eight">
  <div class="container d-block">
    <h2 class="az-content-title tx-24 mg-b-5">Welcome Back to Collection Portal !!!</h2>
    <p class="mg-b-20 mg-lg-b-25">Here are list of Applications you have Permission too !!!</p>

    <div class="row row-sm mg-b-20">
      <div class="col-lg-12">
        <div class="row row-xs row-sm--sm">
          <div class="col-sm-6 col-md-3 mg-t-20 mg-sm-t-0">
            <div class="card card-dashboard-seventeen bg-success tx-white">
              <div class="card-header tx-medium bd-0 tx-white bg-indigo">
                Payment App
              </div><!-- card-header -->
              <!-- <div class="card-body"> -->
                <!-- <h6 class="card-title">Payment App</h6> -->
                <img class="img-fluid" src="assets/img/img13.jpg" alt="Image">
              <div class="card-img-overlay pd-30 bg-black-4 d-flex flex-column justify-content-center">
                  <h4 class="text-white">Cal Pay</h4>
                  <span>Discription</span>
                </div>

              <div class="chart-wrapper">
                <div id="flotChart2" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-sm-6 col-md-3 mg-t-20 mg-md-t-0">
            <div class="card card-dashboard-seventeen bg-primary-dark tx-white">
              <div class="card-body">
                <h6 class="card-title">Payment App</h6>
                <div>
                  <h4 class="text-white">Infinity Pay</h4>
                  <span class="op-7">Discription</span>
                </div>
              </div><!-- card-body -->
              <div class="chart-wrapper">
                <div id="flotChart3" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-sm-6 col-md-3 mg-t-20 mg-md-t-0">
            <div class="card card-dashboard-seventeen bg-primary tx-white">
              <div class="card-body">
                <h6 class="card-title">Payment App</h6>
                <div>
                  <h4 class="text-white">Pay Arena</h4>
                  <span class="op-7">Discription</span>
                </div>
              </div><!-- card-body -->
              <div class="chart-wrapper">
                <div id="flotChart4" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-md-3">
            <div class="card card-dashboard-seventeen bg-warning tx-white">
              <div class="card-body">
                <h6 class="card-title">Payment App</h6>
                <div>
                  <h4 class="text-white">sanni Pay</h4>
                  <span>Discription</span>
                </div>
              </div>
              <div class="chart-wrapper">
                <div id="flotChart1" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- az-content -->








<div class="az-content az-content-dashboard-eight">
  <div class="container d-block">
    <h2 class="az-content-title tx-24 mg-b-5">Welcome Back to Collection Portal !!!</h2>
    <p class="mg-b-20 mg-lg-b-25">Here are list of Applications you have Permission too !!!</p>

    <div class="row row-sm mg-b-20">
      <div class="col-lg-12">
        <div class="row row-xs row-sm--sm">
          <div class="col-sm-6 col-md-3 mg-t-20 mg-sm-t-0">
            <div class="card card-dashboard-seventeen bg-success tx-white">
              <div class="card-body">
                <!-- <h6 class="card-title">Payment App</h6> -->
                <div>
                  <h4 class="text-white">Cal Pay</h4>
                  <span>Discription</span>
                </div>
              </div><!-- card-body -->
              <div class="card-footer bd-t tx-center">
                <a href="#" (click)="OnRoute('Cal Pay')" class="text-white">Select</a>
              </div>
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-sm-6 col-md-3 mg-t-20 mg-md-t-0">
            <div class="card card-dashboard-seventeen bg-primary-dark tx-white">
              <div class="card-body">
                <!-- <h6 class="card-title">Payment App</h6> -->
                <div>
                  <h4 class="text-white">Infinity Pay</h4>
                  <span class="op-7">Discription</span>
                </div>
              </div><!-- card-body -->
              <div class="card-footer bd-t tx-center">
                <a href="#" (click)="OnRoute('Infinity Pay')" class="text-white">Select</a>
              </div>
            </div><!-- card -->
          </div><!-- col -->
          <div class="col-sm-6 col-md-3 mg-t-20 mg-md-t-0">
            <div class="card card-dashboard-seventeen bg-primary tx-white">
              <div class="card-body">
                <!-- <h6 class="card-title">Payment App</h6> -->
                <div>
                  <h4 class="text-white">Pay Arena</h4>
                  <span class="op-7">Discription</span>
                </div>
              </div><!-- card-body -->
              <div class="card-footer bd-t tx-center">
                <a href="#" (click)="OnRoute('Pay Arena')" class="text-white">Select</a>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-md-3">
            <div class="card card-dashboard-seventeen bg-warning tx-white">
              <div class="card-body">
                <!-- <h6 class="card-title">Payment App</h6> -->
                <div>
                  <h4 class="text-white">Sanni Pay</h4>
                  <span>Discription</span>
                </div>
              </div>
              <div class="card-footer bd-t tx-center">
                <a href="#" (click)="OnRoute('Sanni Pay')" class="text-white">Select</a>
              </div>
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>
